/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
}
.app-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1140px;
}
.header {
  font-family: 'roboto';
  font-size: 28px;
  color: #000000;
  font-weight: 600px;
}
.list-container {
  padding-left: 0px;
}
.input-container {
  display: flex;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-left: 15px;
}
.img-btn {
  width: 20px;
  height: 20px;
}
.input-element {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
.list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 48px;
}
